workflow.json
{
  "name": "Email Management System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "readStatus": "unread"
        }
      },
      "id": "a4b8ac0e-7a34-4949-8083-7296a5a855a7",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -4480,
        400
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as duplicate_count \nFROM emails \nWHERE sender_email = '{{ $('Prepare Email Data1').item.json.sender }}' \nAND subject = '{{ $('Prepare Email Data1').item.json.subject }}' \nAND received_time >= NOW() - INTERVAL '24 hours';",
        "options": {}
      },
      "id": "77f5d7c1-6f38-4067-9cf0-a2444a6609fe",
      "name": "Duplicate Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -3968,
        400
      ],
      "alwaysOutputData": false,
      "credentials": {}
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f2b4bb88-d47b-4fc0-849b-794aa6bd8f58",
                    "leftValue": "={{ $json.duplicate_count }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Duplicate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3d003339-a482-400f-9397-16338c182474",
                    "leftValue": "={{ $json.duplicate_count }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Duplicate"
            }
          ]
        },
        "options": {}
      },
      "id": "c69c7447-4e12-48e1-b032-f63975661c4d",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -3728,
        400
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "category",
              "stringValue": "={{ JSON.parse($json.text.replace(/\\\\n/g, '').trim()).category }}"
            },
            {
              "name": "sentiment",
              "stringValue": "={{ JSON.parse($json.text.replace(/\\\\n/g, '').trim()).sentiment }}"
            },
            {
              "name": "priority",
              "stringValue": "={{ JSON.parse($json.text.replace(/\\\\n/g, '').trim()).priority }}"
            },
            {
              "name": "confidence",
              "stringValue": "={{ JSON.parse($json.text.replace(/\\\\n/g, '').trim()).confidence }}"
            },
            {
              "name": "manual_review",
              "stringValue": "={{ JSON.parse($json.text.replace(/\\\\n/g, '').trim()).manual_review }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4d3bdc02-7c5e-497c-b3ae-3ae639a26d23",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -3216,
        288
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PT2WYoRwWAmokzD1NJssMKCCio_SMVa7iZGOW-fX7zw",
          "mode": "list",
          "cachedResultName": "Log automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PT2WYoRwWAmokzD1NJssMKCCio_SMVa7iZGOW-fX7zw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "33fd62e8-4bd4-4fea-a1bc-8d28a7bff240",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -2720,
        288
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "sendTo": "vijaypant486@gmail.com",
        "subject": "=⚠️ Manual Review Required: {{ $('Prepare Email Data1').item.json.subject }}",
        "emailType": "text",
        "message": "={{ '⚠️ MANUAL REVIEW REQUIRED\\n\\nAn email could not be confidently classified and requires human review.\\n\\nSender: ' + $('Prepare Email Data1').item.json.sender + '\\nSubject: ' + $('Prepare Email Data1').item.json.subject + '\\n\\nAI Classification: ' + $('Parse Gemini Response').item.json.category + '\\nConfidence Score: ' + $('Parse Gemini Response').item.json.confidence + '\\nSentiment: ' + $('Parse Gemini Response').item.json.sentiment + '\\nPriority: ' + $('Parse Gemini Response').item.json.priority + '\\n\\nPlease review and respond manually.' }}",
        "options": {}
      },
      "id": "427f5a5e-55a8-44b4-9f4d-c0cc5746c9a9",
      "name": "Send Manual Review Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -2240,
        560
      ],
      "webhookId": "3e8875c7-e578-44eb-9d32-afd019cf47f6",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE emails \nSET response_sent = true, reply_sent_at = NOW() \nWHERE id = {{ $('Postgres Insert Email1').item.json.id }};",
        "options": {}
      },
      "id": "8eb98a29-329a-4545-b767-b6fc46071876",
      "name": "Update DB Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1984,
        112
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE emails \nSET response_sent = true, reply_sent_at = NOW() \nWHERE id = {{ $('Postgres Insert Email1').item.json.id }};",
        "options": {}
      },
      "id": "272a4d3d-6c26-4e19-8aaf-b2c7ae5a3f1b",
      "name": "Update DB Manual Review",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1984,
        560
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PT2WYoRwWAmokzD1NJssMKCCio_SMVa7iZGOW-fX7zw",
          "mode": "list",
          "cachedResultName": "Log automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PT2WYoRwWAmokzD1NJssMKCCio_SMVa7iZGOW-fX7zw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "row_number": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "cd580dac-6d19-4b41-bce7-08a7e49301af",
      "name": "Sheets Update Support",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1472,
        -192
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PT2WYoRwWAmokzD1NJssMKCCio_SMVa7iZGOW-fX7zw",
          "mode": "list",
          "cachedResultName": "Log automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PT2WYoRwWAmokzD1NJssMKCCio_SMVa7iZGOW-fX7zw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "row_number": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3e8b2d0a-ea07-4675-af59-788d743872d1",
      "name": "Sheets Update Sales",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1472,
        -32
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PT2WYoRwWAmokzD1NJssMKCCio_SMVa7iZGOW-fX7zw",
          "mode": "list",
          "cachedResultName": "Log automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PT2WYoRwWAmokzD1NJssMKCCio_SMVa7iZGOW-fX7zw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "row_number": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "abbfd1dc-2005-4065-be50-2beccd59b988",
      "name": "Sheets Update Job",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1472,
        112
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PT2WYoRwWAmokzD1NJssMKCCio_SMVa7iZGOW-fX7zw",
          "mode": "list",
          "cachedResultName": "Log automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PT2WYoRwWAmokzD1NJssMKCCio_SMVa7iZGOW-fX7zw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "row_number": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8c3bae4e-c069-49d2-9829-3e20ccc2ddff",
      "name": "Sheets Update Complaint",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1472,
        272
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PT2WYoRwWAmokzD1NJssMKCCio_SMVa7iZGOW-fX7zw",
          "mode": "list",
          "cachedResultName": "Log automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PT2WYoRwWAmokzD1NJssMKCCio_SMVa7iZGOW-fX7zw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "row_number": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7e3f3b18-4743-4c15-88a4-28a34ecfef5c",
      "name": "Sheets Update General",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1472,
        416
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "sender",
              "stringValue": "={{ $json.From || $json.from }}"
            },
            {
              "name": "subject",
              "stringValue": "={{ $json.Subject || $json.subject }}"
            },
            {
              "name": "body",
              "stringValue": "={{ ($json.snippet || $json.textPlain || '').split('\\r\\n')[0].trim() }}"
            },
            {
              "name": "received_time",
              "stringValue": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ef37e721-eff7-4ff3-ac0e-1f485f6d8f46",
      "name": "Prepare Email Data1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -4224,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO emails (\n  sender_email, subject, email_body, category, sentiment,\n  priority, confidence_score, manual_review_flag, received_time,\n  response_sent, duplicate_flag\n)\nVALUES (\n  '{{ $('Prepare Email Data1').item.json.sender }}',\n  '{{ $('Prepare Email Data1').item.json.subject }}',\n  '{{ $('Prepare Email Data1').item.json.body }}',\n  '{{ $json.category }}',\n  '{{ $json.sentiment }}',\n  '{{ $json.priority }}',\n  {{ $json.confidence }},\n  {{ $json.manual_review }},\n  '{{ $('Prepare Email Data1').item.json.received_time }}'::timestamp with time zone,\n  false,\n  false\n)\nRETURNING id;",
        "options": {}
      },
      "id": "b51fcd91-aefd-4692-bf20-bd1448756134",
      "name": "Postgres Insert Email1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -2976,
        288
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Gemini Response').item.json.category }}",
                    "rightValue": "Support Request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9955f7e2-ea3d-444b-b30e-ddec4124f189"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Support Request"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Gemini Response').item.json.category }}",
                    "rightValue": "Sales Inquiry",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5c5bae67-c6ac-4832-875e-bbc50908414f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sales Inquiry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Gemini Response').item.json.category }}",
                    "rightValue": "Job Application",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "863cd189-5367-43fb-91dc-b8c48cb0276a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Job Application"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Gemini Response').item.json.category }}",
                    "rightValue": "Complaint",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a294760f-ae8e-443a-a1dd-f5861fbee75e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Complaint"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Gemini Response').item.json.category }}",
                    "rightValue": "General Question",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "84f241c4-9482-4ced-b14c-122630c2fbe4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "General Question"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Gemini Response').item.json.category }}",
                    "rightValue": "Spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3fe77664-e9cd-442f-b877-c541bd336d46"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Spam"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Gemini Response').item.json.manual_review }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "83dbed1a-3264-4185-922b-44d6693d50cb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Manual Review"
            }
          ]
        },
        "options": {}
      },
      "id": "9a019571-9b7d-4720-bb8d-ceccb0210d27",
      "name": "Category Router1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2496,
        208
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare Email Data1').item.json.sender }}",
        "subject": "=Re: {{ $('Prepare Email Data1').item.json.subject }}",
        "emailType": "text",
        "message": "={{ ($('Parse Gemini Response').item.json.priority === 'High' ? 'URGENT: We have received your request and our support team is treating this as a high priority case. Someone will contact you within 2 hours.\\n\\n' : 'Thank you for reaching out. Our support team has received your request and will contact you shortly.\\n\\n') + 'Best regards,\\nSupport Team' }}",
        "options": {}
      },
      "id": "954cfe61-2d04-4941-954e-7861882e3de7",
      "name": "Send Support Reply1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -2240,
        -192
      ],
      "webhookId": "3202b533-6f15-4fc8-8d9c-0e76dc1dc8dc",
      "credentials": {}
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare Email Data1').item.json.sender }}",
        "subject": "=Re: {{ $('Prepare Email Data1').item.json.subject }}",
        "emailType": "text",
        "message": "={{ 'Thank you for your interest in our products and services. Our sales team will review your inquiry and reach out to you soon.\\n\\n' + ($('Parse Gemini Response').item.json.priority === 'High' ? 'Given the urgency of your inquiry, expect a response within 2 hours.' : 'You can expect a response within 24 hours.') + '\\n\\nBest regards,\\nSales Team' }}",
        "options": {}
      },
      "id": "d6455370-5054-4011-b609-766005be19c5",
      "name": "Send Sales Reply1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -2240,
        -32
      ],
      "webhookId": "55291fbb-e9fe-477e-b6cb-486528668613",
      "credentials": {}
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare Email Data1').item.json.sender }}",
        "subject": "=Re: {{ $('Prepare Email Data1').item.json.subject }}",
        "emailType": "text",
        "message": "={{ 'Thank you for applying to our company. Your application has been received by our HR department and will be reviewed shortly.\\n\\n' + ($('Parse Gemini Response').item.json.priority === 'High' ? 'Your application has been flagged for priority review.' : 'We will get back to you within 5-7 business days.') + '\\n\\nBest regards,\\nHR Team' }}",
        "options": {}
      },
      "id": "6b4e2a54-1e93-406e-894f-ec8b32962e91",
      "name": "Send Job Application Reply1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -2240,
        112
      ],
      "webhookId": "204db17d-c201-4441-bd41-dfff26eaad98",
      "credentials": {}
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare Email Data1').item.json.sender }}",
        "subject": "=Re:{{ $('Prepare Email Data1').item.json.subject }}",
        "emailType": "text",
        "message": "={{ 'We sincerely apologize for the inconvenience you have experienced. We take all complaints seriously and will investigate this matter promptly.\\n\\n' + ($('Parse Gemini Response').item.json.sentiment === 'Angry' ? 'A senior team member has been notified and will personally follow up with you within 2 hours.' : 'We will get back to you within 24 hours.') + '\\n\\nBest regards,\\nCustomer Relations Team' }}",
        "options": {}
      },
      "id": "3ed0680f-5be6-4551-a6f8-19165c65f418",
      "name": "Send Complaint Reply1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -2240,
        272
      ],
      "webhookId": "5d383a2d-5848-4e4c-9719-bb4ae79c1a60",
      "credentials": {}
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare Email Data1').item.json.sender }}",
        "subject": "=Re: {{ $('Prepare Email Data1').item.json.subject }}",
        "emailType": "text",
        "message": "={{ 'Thank you for contacting us. We have received your question and will get back to you as soon as possible.\\n\\n' + ($('Parse Gemini Response').item.json.priority === 'High' ? 'Given the urgency of your message, our team will respond within 2 hours.' : 'Our team typically responds within 24 hours.') + '\\n\\nBest regards,\\nCustomer Service Team' }}",
        "options": {}
      },
      "id": "c666dcc5-5bd1-4a8e-8f2c-65b6b077b956",
      "name": "Send General Reply1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -2240,
        416
      ],
      "webhookId": "fea080e8-8bc3-4e60-a301-caf3305dda18",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE emails \nSET response_sent = true, reply_sent_at = NOW() \nWHERE id = {{ $('Postgres Insert Email1').item.json.id }};",
        "options": {}
      },
      "id": "e1dd26ce-4e04-4fe3-837f-7a971c057d0f",
      "name": "Update DB Support1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1984,
        -192
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE emails \nSET response_sent = true, reply_sent_at = NOW() \nWHERE id = {{ $('Postgres Insert Email1').item.json.id }};",
        "options": {}
      },
      "id": "bccdecea-299b-4498-83b3-04993d83bb0a",
      "name": "Update DB Sales1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1984,
        -32
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE emails \nSET response_sent = true, reply_sent_at = NOW() \nWHERE id = {{ $('Postgres Insert Email1').item.json.id }};",
        "options": {}
      },
      "id": "1029f5ff-8bba-4e49-a718-b1f1a4742d21",
      "name": "Update DB Complaint1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1984,
        272
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE emails \nSET response_sent = true, reply_sent_at = NOW() \nWHERE id = {{ $('Postgres Insert Email1').item.json.id }};",
        "options": {}
      },
      "id": "1eb5bdfe-44d0-487b-a019-86af2714a36a",
      "name": "Update DB General1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1984,
        416
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE emails \nSET response_sent = true, reply_sent_at = NOW() \nWHERE id = {{ $('Postgres Insert Email1').item.json.id }};",
        "options": {}
      },
      "id": "4c45fa4c-1006-469e-a6df-c25f15b719bb",
      "name": "Update DB Spam1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1984,
        720
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following email and return a JSON object with exactly these fields:\n- category: one of [Support Request, Sales Inquiry, Job Application, Complaint, General Question, Spam]\n- sentiment: one of [Positive, Neutral, Angry]\n- priority: one of [High, Medium, Low]\n- confidence: a number between 0 and 1\n- manual_review: true if confidence is below 0.75, otherwise false\n\nRules for priority:\n- High: contains words like urgent, legal, cancel, invoice, critical, asap\n- Low: Spam or newsletter\n- Medium: everything else\n\nReturn ONLY valid JSON, no explanation, no markdown, no code block.\n\nSubject: {{ $('Prepare Email Data1').item.json.subject }}\nBody: {{ $('Prepare Email Data1').item.json.body }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -3536,
        288
      ],
      "id": "e0937448-0504-4f25-b456-2dfe145039ec",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3536,
        528
      ],
      "id": "303179ad-db38-421d-9ebe-6d57e8c49d04",
      "name": "Google Gemini Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE emails SET duplicate_flag = true WHERE sender_email = '{{ $('Prepare Email Data1').item.json.sender }}' AND subject = '{{ $('Prepare Email Data1').item.json.subject }}';",
        "options": {}
      },
      "id": "c3caec44-3fdc-492c-9381-070b18c04b21",
      "name": "Flag Duplicate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -3552,
        672
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92f6cde2-2b3e-4561-8b51-03852ae0519d",
              "name": "id",
              "value": "={{ $('Postgres Insert Email1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "29005dd1-258e-4045-aae9-204684feba52",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1728,
        272
      ],
      "id": "2cd9f525-9b5d-4ecf-99cd-106d7e8f7951",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92f6cde2-2b3e-4561-8b51-03852ae0519d",
              "name": "id",
              "value": "={{ $('Postgres Insert Email1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "29005dd1-258e-4045-aae9-204684feba52",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1728,
        -192
      ],
      "id": "5c206111-ce06-4717-b89e-05a0d50ae7ff",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92f6cde2-2b3e-4561-8b51-03852ae0519d",
              "name": "id",
              "value": "={{ $('Postgres Insert Email1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "29005dd1-258e-4045-aae9-204684feba52",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1728,
        -32
      ],
      "id": "71830683-56e5-4f95-80ee-f789c92a836d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92f6cde2-2b3e-4561-8b51-03852ae0519d",
              "name": "id",
              "value": "={{ $('Postgres Insert Email1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "29005dd1-258e-4045-aae9-204684feba52",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1728,
        112
      ],
      "id": "7a4796ef-c96b-4f02-bfcb-5f02ae40dcff",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92f6cde2-2b3e-4561-8b51-03852ae0519d",
              "name": "id",
              "value": "={{ $('Postgres Insert Email1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "29005dd1-258e-4045-aae9-204684feba52",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1728,
        416
      ],
      "id": "2f9b6832-c3b5-4f2c-ba0d-d72435835964",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -4480,
        576
      ],
      "id": "9e4b51b0-0af4-41cc-978a-11166acbae27",
      "name": "Zoho Trigger",
      "credentials": {}
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Prepare Email Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Check": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Postgres Insert Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Category Router1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Manual Review Alert": {
      "main": [
        [
          {
            "node": "Update DB Manual Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB Job": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data1": {
      "main": [
        [
          {
            "node": "Duplicate Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Insert Email1": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category Router1": {
      "main": [
        [
          {
            "node": "Send Support Reply1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Sales Reply1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Job Application Reply1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Complaint Reply1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send General Reply1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update DB Spam1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Manual Review Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Support Reply1": {
      "main": [
        [
          {
            "node": "Update DB Support1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Sales Reply1": {
      "main": [
        [
          {
            "node": "Update DB Sales1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Job Application Reply1": {
      "main": [
        [
          {
            "node": "Update DB Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Complaint Reply1": {
      "main": [
        [
          {
            "node": "Update DB Complaint1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send General Reply1": {
      "main": [
        [
          {
            "node": "Update DB General1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB Support1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB Sales1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB Complaint1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB General1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Sheets Update Complaint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Sheets Update Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Sheets Update Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Sheets Update Support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Sheets Update General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoho Trigger": {
      "main": [
        [
          {
            "node": "Prepare Email Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "70e004be-764b-481d-bee9-51be8b4199d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33d3118021c86740b1a15c617d0d9d55d063df19d7374e00a1b8953c3734f20d"
  },
  "id": "mUoIbLj2CoDbdbhO",
  "tags": []
}
